* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background: #ccc;
}
#conteiner {
    box-sizing: content-box;
    height: 80px;
    background:#333;
    border-bottom: rgb(6, 124, 124) solid 5px;
}
#conteiner a {
    color: #eee;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}
.logo {
    display: inline-block;
    height: 80px;
    padding: 15px;
}
.logo img {
    height: 100%;
}
.menuMobile {
    display: none;
    float: right;
    margin: 10px 15px;
    border: #aaa solid 1px;
    border-radius: 5px;
}
.menuMobile img {
    height: 50px;
}
.menu {
    display: inline-block;
    vertical-align: top;
    font-size: 1em;
}
.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu li {
    display: inline-block;
    padding: 30px 18px;
}
.loggin {
    float: right;
    padding: 30px;
}
.loggin .registro {
    background: #f33;
    padding: 15px;
    border-radius: 25px;
    margin-left: 10px;
}
.menu li:hover,
.menu li.selected {
    background:rgb(6, 124, 124);
    color: #333;
}

@media (max-width: 605px) {
    .menuMobile {
        display: block;
    }
    .menu {
        display: none;
    }
}
@media (max-width: 785px) {
    .loggin {
        display:none;
    }
}